extends templates/main

block content
  section.section
    h1.title BackOffice
  section.section
    table.table.is-narrow.is-stripped.is-hoverable.is-fullwidth
      thead
        th ID
        th Date
        th Buyer Name
        th Card Number
        th Total Items
        th Net Total
        th Taxes
        th Total Amount
        th Status
        th Detail
      tbody
        for row in purchaseList
          tr
            td= row._id
