nav.navbar(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href='/')
      img(src='https://via.placeholder.com/150')
    a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasic')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  
