head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
  link(rel='stylesheet' href='https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css')
  title Checkout
body
